{% extends "base.html" %}
{% load django_vite %}

{% block title %}Glomar{% endblock %}

{% block vite %}
{{ block.super }}
{% vite_asset "frontend/views/glomar_dashboard.ts" %}
{% endblock %}

{% block content %}
<article id="glomar_dashboard">
  <div class="content">
    <section>
      <header>
        <h1 class="glomar-brand">{% include "core/icons/glomar.svg" %} Glomar</h1>
      </header>
      <main>
        <ul>
          <li><a href="{% url 'glomar:event_list' %}">Events</a></li>
        </ul>
      </main>
    </section>
  </div>
</article>
{% endblock content %}
